<app-listdemo></app-listdemo>
<!--<p>hello netacademia</p>-->

<!--<app-event></app-event>-->

<!--<h1>-->
  <!--{{title|uppercase}}-->
<!--</h1>-->

<!--<hr>-->
  <!--{{pipeDemo|json}}-->
<!--<hr>-->

<!--<ul>-->
  <!--<li *ngFor="let event of events">-->
    <!--{{ event }}-->
  <!--</li>-->
<!--</ul>-->

<!--<input type="text" [(ngModel)]="inputContent">-->
<!--<div>{{inputContent}}</div>-->

<!--<button (click)="toggle()"-->
        <!--(dblclick)="demo($event)"-->
        <!--[disabled]="klikkeljunke"-->
<!--&gt;toggle-->
<!--</button>-->

<!--<div *ngIf="show">-->
  <!--<p>Horváth László</p>-->
<!--</div>-->

<!--<div [ngClass]="{'valami':show}">-->
  <!--<p>ngClass demo</p>-->
<!--</div>-->


<!--<app-alma></app-alma>-->
<!--<app-alma></app-alma>-->
<!--<app-alma></app-alma>-->
<!--<app-alma></app-alma>-->
<!--<app-alma></app-alma>-->
<!--<app-alma></app-alma>-->
